[Unit]
Description=Worldcoin Backend Status
Requires=worldcoin-attest.service
After=worldcoin-attest.service

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
SyslogIdentifier=worldcoin-backend-status
ExecStart=/usr/local/bin/orb-backend-status
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
