[package]
name = "orb-connd"
version = "0.1.0"
description = "Orb Connectivity Daemon (WiFi / Cellular / Bluetooth)"
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
authors = [
	"Philipp Poppov <pophilpo@users.noreply.github.com>",
	"Victor Ferreira Menge <vmenge@users.noreply.github.com>",
]


[dependencies]
chrono.workspace = true
color-eyre.workspace = true
dogstatsd = "0.11"
orb-backend-status-dbus.workspace = true
orb-info = { workspace = true, features = ["orb-os-release", "async"] }
serde.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["full"] }
tracing.workspace = true
tracing-subscriber.workspace = true
zbus.workspace = true
orb-telemetry.workspace = true
derive_more = { workspace = true, default-features = false, features = ["display"] }
rusty_network_manager = "0.6.0"
regex.workspace = true

[package.metadata.deb]
maintainer-scripts = "debian/"
assets = [
	[
		"target/release/orb-connd",
		"/usr/local/bin/",
		"755",
	],
	[
		"nm_cfg/20-defaults.conf",
		"/etc/NetworkManager/conf.d/",
		"644",
	],
]
systemd-units = [{ unit-name = "worldcoin-connd" }]
