[package]
name = "orb-connd"
version = "0.1.0"
description = "Orb Connectivity Daemon (WiFi / Cellular / Bluetooth)"
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
authors = [
	"Philipp Poppov <pophilpo@users.noreply.github.com>",
	"Victor Ferreira Menge <vmenge@users.noreply.github.com>",
]

[dependencies]
async-trait.workspace = true
base64.workspace = true
bon.workspace = true
chacha20poly1305.workspace = true
chrono.workspace = true
ciborium.workspace = true
clap = { workspace = true, features = ["derive"] }
color-eyre.workspace = true
dashmap.workspace = true
uuid = { workspace = true, features = ["v4"] }
derive_more = { workspace = true, default-features = false, features = ["display"] }
dogstatsd = "0.11"
flume.workspace = true
futures.workspace = true
hex.workspace = true
nom.workspace = true
num-derive.workspace = true
num-traits.workspace = true
orb-backend-status-dbus.workspace = true
orb-connd-dbus.workspace = true
orb-info = { workspace = true, features = ["orb-os-release", "async"] }
orb-secure-storage-ca = { workspace = true, default-features = false, features = [
	"backend-in-memory",
	"backend-optee",
] }
orb-telemetry.workspace = true
p256.workspace = true
prelude.workspace = true
rand.workspace = true
regex.workspace = true
rustix = { workspace = true, features = ["process"] }
rusty_network_manager = "0.6.0"
secrecy.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror = { workspace = true, features = ["std"] }
tokio = { workspace = true, features = ["full"] }
tokio-serde = { workspace = true, features = ["cbor"] }
tokio-util = { workspace = true, features = ["codec"] }
tracing-subscriber.workspace = true
tracing.workspace = true
zbus.workspace = true

[dev-dependencies]
async-tempfile.workspace = true
escargot.workspace = true
test-utils.workspace = true
nix = { workspace = true, features = ["socket"] }
test-with.workspace = true
mockall.workspace = true
tokio-stream = { workspace = true, features = ["fs"] }

[package.metadata.orb]
unsupported_targets = ["aarch64-apple-darwin", "x86_64-apple-darwin"]

[package.metadata.deb]
maintainer-scripts = "debian/"
assets = [
	[
		"target/release/orb-connd",
		"/usr/local/bin/",
		"755",
	],
	[
		"nm_cfg/20-defaults.conf",
		"/etc/NetworkManager/conf.d/",
		"644",
	],
]
systemd-units = [{ unit-name = "worldcoin-connd" }]
