[Unit]
Description=Worldcoin Orb Jobs Agent
After=worldcoin-attest.service
Requires=worldcoin-attest.service
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket

[Service]
Environment="HOME=/home/worldcoin"
WorkingDirectory=/home/worldcoin
Type=exec
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
ExecStart=/usr/local/bin/orb-jobs-agent
SyslogIdentifier=worldcoin-jobs-agent
Restart=always
SupplementaryGroups=systemd-journal

[Install]
WantedBy=multi-user.target
