# Rust stuff
/target
/artifacts_linux

# Nix stuff
/.direnv
/result
.envrc

# Used by build.rs
/git_version

.DS_Store

# IDE stuff
.idea/

# Allow developers to use python pre-commit locally
/.pre-commit-config.yaml
