[submodule "orb-core"]
	path = orb-core
	url = https://github.com/worldcoin/priv-orb-core
	branch = open-orb-core-jj
[submodule "orb-secure-element"]
	path = orb-secure-element
	url = https://github.com/worldcoin/orb-secure-element
[submodule "orb-firmware"]
	path = orb-firmware
	url = https://github.com/worldcoin/orb-firmware
[submodule "orb-messages"]
	path = orb-messages
	url = https://github.com/worldcoin/orb-messages
