*.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_user_start_capture.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_open.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_wrong_qr_code_format__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_03A.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_qr_code_invalid__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_03.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_timeout__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_whole_pattern_is_visible.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_error.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scan_success.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_02C.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_start_signup.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_detected_initiating_scan.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_move_closer__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_network_unreachable.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_network_unreachable__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_overheating__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_timeout.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_whole_pattern_is_visible__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_biometrics_finished.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_move_farther.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_move_farther__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_do_not_move_the_calibration_target__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/silence__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_01A.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_02.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_start_idle.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_face_detected.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_detected_initiating_scan__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_move_closer.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_qr_code_not_found.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_software_outdated.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_face_detected__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/silence.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_signup_success.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_biometrics_finished__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_internet_connection_too_slow_signups_might_take_longer_than_expected.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_open__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_qr_code_not_found__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_internet_connection_successful.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_03C.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_user_qr_load_success.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_face_not_found.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_do_not_shutdown__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_qr_code_invalid.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_server_error.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_01C.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_duplicates__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_do_not_move_the_calibration_target.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_show_wifi_hotspot_qr_code.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_test_firmware_warning.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_bootup.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_01.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_02B.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_overheating.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_do_not_shutdown.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_put_the_calibration_target_in_the_frame__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_wrong_qr_code_format.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_powering_down.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_internet_connection_too_slow_to_perform_signups.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_iris_duplicates.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_overheating.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_verification_not_successful_please_try_again__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_03B.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_face_not_found__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_internet_connection_too_slow_signups_might_take_longer_than_expected__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_server_error__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_01B.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_qr_code_capture.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_show_wifi_hotspot_qr_code__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_test_firmware_warning__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_verification_not_successful_please_try_again.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_iris_scanning_loop_02A.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/sound_qr_load_success.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_internet_connection_too_slow_to_perform_signups__es-ES.wav filter=lfs diff=lfs merge=lfs -text
orb-ui/sound/assets/voice_please_put_the_calibration_target_in_the_frame.wav filter=lfs diff=lfs merge=lfs -text
