# Rust stuff
/target
/artifacts_linux

# Nix stuff
/.direnv
result
.envrc

# Used by build.rs
/git_version

.DS_Store

# IDE stuff
.idea/
.vscode/

# Allow developers to use python pre-commit locally
/.pre-commit-config.yaml

# git worktrees
/w

# Produced sometimes
.intentionally-empty-file.o
