[workspace]
resolver = "2"
members = [
  "artificer",
  "build-info",
  "build-info/helper",
  "can",
  "deps-tests",
  "endpoints",
  "header-parsing",
  "mcu-util",
  "orb-attest",
  "orb-backend-state",
  "orb-qr-link",
  "orb-slot-ctrl",
  "orb-thermal-cam-ctrl",
  "orb-ui",
  "orb-ui/cone",
  "orb-ui/pid",
  "orb-ui/sound",
  "orb-ui/uart",
  "security-utils",
  "seek-camera/sys",
  "seek-camera/wrapper",
  "verity-tree-calc",
]

[workspace.package]
edition = "2021"
license = "MIT OR (Apache-2.0 WITH LLVM-exception)"
repository = "https://github.com/worldcoin/orb-software"
rust-version = "1.77.0" # See rust-version.toml

[workspace.dependencies]
clap = "4.5"
color-eyre = "0.6.2"
eyre = "0.6.12"
libc = "0.2.153"
thiserror = "1"
nix = { version = "0.28", default-features = false }
console-subscriber = "0.2"
derive_more = { version = "0.99", default-features = false }
futures = "0.3.30"
serde = "1.0.197"
tokio = { version = "1", default-features = false }
tracing = "0.1"
alsa-sys = "0.3.1"

[workspace.dependencies.orb-messages]
git = "https://github.com/worldcoin/orb-messages"
rev = "6a2b74da2f390dd927d5172de4cb72a3928814e6"

# increase the optimization of third party crates in dev builds.
# [profile.dev.package."*"]
# opt-level = 2

[profile.release]
debug = true

# What we use when producing artifacts to distribute
[profile.artifact]
inherits = "release"
lto = true
strip = true
debug = false
