[workspace]
resolver = "2"
members = [
  "artificer",
  "build-info",
  "build-info/helper",
  "can",
  "const-concat",
  "deps-tests",
  "endpoints",
  "header-parsing",
  "hil",
  "mcu-interface",
  "mcu-util",
  "orb-attest",
  "orb-backend-state",
  "orb-qr-link",
  "orb-slot-ctrl",
  "orb-thermal-cam-ctrl",
  "orb-ui",
  "orb-ui/cone",
  "orb-ui/pid",
  "orb-ui/sound",
  "orb-ui/uart",
  "security-utils",
  "seek-camera/sys",
  "seek-camera/wrapper",
  "verity-tree-calc",
  "wpa-supplicant",
]

[workspace.package]
edition = "2021"
license = "MIT OR (Apache-2.0 WITH LLVM-exception)"
repository = "https://github.com/worldcoin/orb-software"
rust-version = "1.79.0" # See rust-version.toml

# We centralize feature flags here, because it improves build caches and helps
# prevent edge cases where CI doesn't catch build errors due to more features
# being present in a --all vs -p build.
[workspace.dependencies]
clap = { version = "4.5", features = ["derive"] }
color-eyre = "0.6.2"
console-subscriber = "0.2"
data-encoding = "2.3"
derive_more = { version = "0.99", default-features = false, features = ["display", "from"] }
eyre = "0.6.12"
futures = "0.3.30"
libc = "0.2.153"
nix = { version = "0.28", default-features = false, features = [] }
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream"] }
ring = "0.16"
serde = { version = "1.0.197", features = ["derive"] }
thiserror = "1.0.60"
tokio = { version = "1", features = ["full"] }
tokio-test = "0.4.4"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zbus = { version = "4", default-features = false, features = ["tokio"] }

[workspace.dependencies.orb-messages]
git = "https://github.com/worldcoin/orb-messages"
rev = "787ab78581b705af0946bcfe3a0453b64af2193f"

# increase the optimization of third party crates in dev builds.
# [profile.dev.package."*"]
# opt-level = 2

# What we use when producing artifacts to distribute
[profile.artifact]
inherits = "release"
lto = true
strip = true
debug = false
