[package]
name = "orb-secure-storage"
version = "0.0.0"
description = "Talks to the orb-secure-storage TA"
authors = ["Ryan Butler <thebutlah@users.noreply.github.com>"]
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[features]
default = ["backend-in-memory", "backend-optee"]
backend-optee = ["dep:optee-teec"] # Enables the platform-specific optee-backend.
backend-in-memory = ["dep:dashmap"] # Enables the cross-platform in-memory backend.

[[bin]]
name = "orb-secure-storage"
required-features = ["backend-optee"]

[dependencies]
clap-stdin.workspace = true
clap.workspace = true
color-eyre.workspace = true
dashmap = { workspace = true, optional = true }
eyre.workspace = true
optee-teec = { workspace = true, optional = true }
rand.workspace = true
rustix = { workspace = true, features = ["process"] }
serde.workspace = true
serde_json.workspace = true
thiserror = { workspace = true, features = ["std"] }
tracing-subscriber.workspace = true
tracing.workspace = true

[dependencies.orb-secure-storage-proto]
branch = "main"
git = "https://github.com/worldcoin/orb-rustzone.git"

[package.metadata.orb]
unsupported_targets = ["aarch64-apple-darwin", "x86_64-apple-darwin"]

[package.metadata.deb]
assets = [["target/release/orb-secure-storage", "/usr/local/bin/", "755"]]
