[Unit]
Description=Worldcoin Supervisor
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket

[Service]
Type=dbus
BusName=org.worldcoin.OrbSupervisor1
SyslogIdentifier=worldcoin-supervisor
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
ExecStart=/usr/local/bin/orb-supervisor

[Install]
WantedBy=multi-user.target
