[Unit]
Description=Daemon to verify the validity of the short-lived token
After=worldcoin-short-lived-token-daemon.service

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
SyslogIdentifier=orb-short-lived-token-dumb-client
ExecStart=/bin/bash -c 'ORB_ID=$(/usr/local/bin/orb-id) /usr/bin/orb-short-lived-token-dumb-client'

[Install]
WantedBy=multi-user.target
