[Unit]
Description=Short lived token daemon
## persistent contains SE pairing keys
After=usr-persistent.mount
Requires=worldcoin-backend-online.target
After=worldcoin-backend-online.target

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
SyslogIdentifier=orb-token
Restart=on-failure
ExecStart=/bin/bash -c 'ORB_ID=$(/usr/local/bin/orb-id) /usr/bin/orb-token'

[Install]
WantedBy=multi-user.target
