[Unit]
Description=Worldcoin Orb Fleet Commander
Requires=worldcoin-attest.service
After=worldcoin-attest.service
Requires=worldcoin-backend-online.target
After=worldcoin-backend-online.target

[Service]
Type=simple
User=worldcoin
ExecStart=/bin/bash -c 'exec env ORB_ID="$(/usr/local/bin/orb-id)" /usr/local/bin/orb-fleet-cmdr'
SyslogIdentifier=worldcoin-fleet-cmdr
Environment=RUST_BACKTRACE=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
