[package]
name = "orb-bidiff-squashfs-cli"
version = "0.0.0"
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
async-tempfile.workspace = true
aws-sdk-s3.workspace = true
bidiff = { workspace = true, features = ["enc"] }
bipatch.workspace = true
bytes.workspace = true
clap = { workspace = true, features = ["derive"] }
clap-stdin.workspace = true
color-eyre.workspace = true
derive_more = { workspace = true, default-features = false, features = ["from"] }
futures.workspace = true
indicatif.workspace = true
orb-bidiff-squashfs.workspace = true
orb-build-info.workspace = true
orb-s3-helpers.workspace = true
orb-telemetry = { workspace = true, default-features = false }
orb-update-agent-core.workspace = true
serde_json.workspace = true
sha2.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] } # todo: reduce features
tokio-stream.workspace = true
tokio-util.workspace = true
tracing.workspace = true

[dev-dependencies]
test-log.workspace = true

[build-dependencies]
orb-build-info = { workspace = true, features = ["build-script"] }
