[Unit]
Description=Worldcoin Update Agent
After=worldcoin-supervisor.service
Wants=worldcoin-supervisor.service
After=usr-persistent.mount
Wants=usr-persistent.mount
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket

# Pearl stores artifacts at mnt-scratch
# Diamond stores artifacts at mnt-updates
After=mnt-scratch.mount mnt-updates.mount
Wants=mnt-scratch.mount mnt-updates.mount

[Service]
# As update-agent has no dependencies, it should be fine to make this Type=simple (rather than
# Type=oneshot. This way, RestartForceExitStatus= works.
Type=simple
SyslogIdentifier=worldcoin-update-agent
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
ExecStart=/bin/bash -c '/usr/local/bin/orb-update-agent \
                    --id "$(/usr/local/bin/orb-id)" \
                    ${ORB_UPDATE_AGENT_EXTRA_ARGS}'
RestartForceExitStatus=150
RestartSec=10s

[Install]
WantedBy=multi-user.target
