[package]
name = "orb-security-utils"
version = "0.0.0"
description = "Centrally auditable spot for security sensitive code"
authors = ["Ryan Butler <thebutlah@users.noreply.github.com>"]
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[features]
blocking = ["reqwest/blocking"]
reqwest = ["dep:reqwest"]

[dependencies]
eyre = "0.6"
hex-literal.workspace = true
reqwest = { workspace = true, default-features = false, features = [
	"rustls-tls-manual-roots",
], optional = true }
ring = "0.17.0"
