[Unit]
Description=Worldcoin Update Verifier Service.
After=teleport.service
StartLimitInterval=0

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/orb-update-verifier
Restart=on-failure
RestartSec=10s
SyslogIdentifier=worldcoin-update-verifier

[Install]
WantedBy=multi-user.target
