[Unit]
Description=Worldcoin Orb Location info gatherer

[Service]
Type=simple
ExecStart=/usr/local/bin/orb-location
SyslogIdentifier=worldcoin-location
Restart=always
Environment=RUST_BACKTRACE=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket

[Install]
WantedBy=multi-user.target
