[Unit]
Description=Worldcoin Orb Location data collector
After=worldcoin-dbus.socket
Requires=worldcoin-dbus.socket

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
SyslogIdentifier=worldcoin-location
ExecStart=/usr/local/bin/orb-location

[Install]
WantedBy=multi-user.target
