[Unit]
Description=Worldcoin UI Service
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket
After=sound.target
Requires=sound.target

[Service]
Type=simple
User=worldcoin
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket"
Environment="RUST_BACKTRACE=1"
SyslogIdentifier=worldcoin-ui
WorkingDirectory=/home/worldcoin
ExecStart=/usr/local/bin/orb-ui daemon
Restart=always

[Install]
WantedBy=multi-user.target
