[Unit]
Description=Short lived attestation token daemon
## persistent contains SE pairing keys
After=usr-persistent.mount
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
SyslogIdentifier=worldcoin-attest
Restart=on-failure
ExecStart=/usr/local/bin/orb-attest

[Install]
WantedBy=multi-user.target
