[Unit]
Description=Short lived attestation token daemon
After=worldcoin-configure-can@can0.service
Wants=worldcoin-configure-can@can0.service
After=usr-persistent.mount
After=worldcoin-dbus.socket
Wants=worldcoin-dbus.socket

[Service]
Type=simple
User=worldcoin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
SyslogIdentifier=worldcoin-attest
Restart=on-failure
# TODO: use the orb-info crate
ExecStart=/bin/bash -c 'export ORB_ID="$("/usr/local/bin/orb-id")"; exec /usr/local/bin/orb-attest'

[Install]
WantedBy=multi-user.target
