[Unit]
Description=Worldcoin Connection Daemon
Requires=NetworkManager.service
After=NetworkManager.service

[Service]
Environment="HOME=/home/worldcoin"
WorkingDirectory=/home/worldcoin
Type=exec
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/tmp/worldcoin_bus_socket
Environment=RUST_BACKTRACE=1
ExecStart=/usr/local/bin/orb-connd
SyslogIdentifier=worldcoin-connd
Restart=always
StartLimitIntervalSec=3
StartLimitBurst=1

[Install]
WantedBy=multi-user.target
