name: TA CI
on:
  pull_request:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
      - prod
    tags:
      - '**'

permissions:
  contents: read

jobs:
  build:
    name: Rust CI
    uses: worldcoin/orb-rustzone/.github/workflows/ta.yaml@main
    with:
      target_env: stage
      source: ${{ github.sha }}
      cargo_profile: artifact
    secrets:
      GIT_HUB_TOKEN: ${{ secrets.ORB_GIT_HUB_TOKEN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
