# Github workflow for update-agent

name: update-agent
on:
  pull_request:
  workflow_dispatch:
  workflow_call:
    secrets:
      ORB_GIT_HUB_TOKEN:
        required: true
  push:
    branches:
      - main
      - prod
    tags:
      - '**'

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt update && sudo apt install -y \
            qemu-system-x86 qemu-utils \
            podman \
            nushell \
            squashfs-tools \
            parted e2fsprogs \
            genisoimage \
            libguestfs-tools pkg-config \
            libssl-dev build-essential \
            cargo libudev-dev protobuf-compiler \
            ovmf

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.10

      - name: make host kernel image readable, for guestfish
        run: sudo chmod +r /boot/vmlinuz-*

      - name: guestfish access to kvm
        run: sudo chmod 0666 /dev/kvm

      - name: Build
        run: |
          cd update-agent
          cargo build --features skip-manifest-signature-verification

      - name: Run functional tests
        run: |
          cd update-agent/t
          ./qemu-runner.js mock mock_path
          ./qemu-runner.js run ../../target/debug/orb-update-agent mock_path
          ./qemu-runner.js check mock_path

      - name: Run bidiff cache corruption regression test
        run: |
          cd update-agent/t
          ./podman-runner.nu mock-bidiff-cache-corruption mock_path_bidiff
          ./podman-runner.nu run-bidiff-cache-corruption ../../target/debug/orb-update-agent mock_path_bidiff
          ./podman-runner.nu check-bidiff-cache-corruption mock_path_bidiff
